/* Globals */

* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: lightslategray;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    padding-bottom: 7px;
}

article {
    padding: 30px;
}

/* Main section */

section#main {
    display: flex;
}

div#textAreaSection {
    width: 65%;
    display: flex;
    justify-content: center;
}

textarea#textArea {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
}

div#inputsSection {
    width: 35%;
    margin-right: 40px;
}

div.inputDiv {
    width: 100%;
    margin: 20px 0px;
}

div.inputDiv>input[type="number"] {
    width: 97%;
}

div.inputDiv>select {
    width: 100%;
}

#submitButton {
    width: 100%;
}

/* Result section */
section#result {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

fieldset {
    width: 80%;
    max-width: 80%;
}

section#final {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}